#root {
  max-width: 1280px;
  /* text-align: left; */
}

*{
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

.trans-3{
  transition: 1s 0.3s;
}

.ps-rt{
  position: relative;
}

.closeBtn{
  font-weight: bold;
  font-size: 26px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  padding: 10px;
}

.unUsedBtn{
  position:static;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  align-self: flex-start;
}

.unUsedBtn:hover{
  /* color: #f1f1f1; */
  background-color: #f1f1f1;
}

.wp-r{
  transform: translateX(100%);
  transition:0.3s ease-out;
}

.textAreah{
  height: 100px;
  line-height: 1.5;
}

.wizardFrame{
  width: 60%;
  height: 60%;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.appre{
  width: 40%;
  height: 30%;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.quesps{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}

.frameR{
  width: 40%;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.frameWz{
  width: 50%;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.method-hover:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.method-active{
  background-color: rgba(0, 0, 0, 0.1);
}

.reachMaxAnime{
  animation: reachMax 0.4s ease-in-out 0s 1 both backwards;
  background-color: red;
}

.fh{
  height: 100%;
}

.fw{
  width: 100%;
}

.lh-15{
  line-height: 1.5;
}

.bd-rd-5{
  border-radius: 5px;
}

.bd-rd-10{
  border-radius: 10px;
}

.bd-rd-20{
  border-radius: 20px;
}

.bd-rd-frame-20{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bd-rd-Wz-20{
  border-radius: 20px;
}

.pd-frame{
  padding: 40px;
}

.pd-0{
  padding: 0;
}

.pd-10{
  padding: 10px;
}

.pd-20{
  padding: 20px;
}

.mg-ct{
  margin: 0 auto;
}

.mg-r{
  margin-right: 10px;
}

.mg-r-10{
  margin-right: 10px;
}

.mg-r-20{
  margin-right: 20px;
}

.mg-r-30{
  margin-right: 30px;
}

.mg-r-50{
  margin-right: 50px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.mb-30{
  margin-bottom: 30px;
}

.mg-b-40{
  margin-bottom: 40px;
}

.mg-b-50{
  margin-bottom: 50px;
}

.mg-l-10{
  margin-left: 10px;
}

.mg-ct{
  margin: auto auto;
}

.dn{
  display: none;
}

.db{
  display: block;
}

.df{
  display: flex;
}

.fd-c{
  flex-direction: column;
}

.jc-ct{
  justify-content: center;
}

.jc-fe{
  justify-content: flex-end;
}

.jc-fs{
  justify-content: flex-start;
}

.jc-sb{
  justify-content: space-between;
}

.aln-tm-ct{
  align-items: center;
}

.cursor-pointer{
  cursor: pointer;
}

.hidden{
  opacity: 0;
  display: none;
}

.default{
  color: #f1f1f1;
}

.fill-Star, .fill-thumbU{
  color: #ffe100;
}

.fill-thumbD{
  color: #007e87;
}

.shadow-md{
  filter: drop-shadow (12px 2px 25px rgb(159, 10, 10));
}

.duration-200{
  transition: .3s;
}

.scale-110{
  transform: scale(1.1);
}

.of-y-scl{
  overflow-y: scroll;
}

.rz-v{
  resize: vertical;
}

@keyframes reachMax{
  0%{
  }
  25%{
    transform: translateX(-10%);
  }
  50%{
    transform: translateX(0%);
  }
  75%{
    transform: translateX(10%);
  }
  100%{
    transform: translateX(00%);
  }
}